<table mat-table [dataSource]="customers.content" class="mat-elevation-z8">
  <ng-container *ngFor="let column of columns" [matColumnDef]="column.field">
    <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="column.field == 'birthDate'">{{ element['birthDate'] | date: 'dd/MM/yyyy' }}</span>
      <span *ngIf="column.field != 'birthDate'">{{ element[column.field] }}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
</table>

<mat-paginator class="mat-elevation-z8"
               [length]="customers.totalElements"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 15, 20, 25]"></mat-paginator>
